body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
 }
 
 #wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
 }
 
 #body {
  flex: 1;
 }
 
 footer {
  width: 100%;
  /* Ajuste a altura conforme necessário */
  height: 40px;
  background-color: purple;
  color: white;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
 }
 