body{
    font-family: sans-serif;
    background: linear-gradient(90deg, #0D0D0D, #5F0E8F);
    color: rgb(223, 218, 218);
    padding-left: 10px;
}

#formPreferencia{
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    margin: 10vh 40vh
}


.labels{
    margin: 10px;
    width: 200px;
    height: 5vh;
    text-align: center;
    align-items: baseline;
    border-radius: 20%;
    background: #5F0E8F;
}

button{
    width: 100px;
    /* margin-top: 12vh; */
    border-radius: 20px;
    height: 30px;
}

header{
    margin-top: 60px
}
button{
    margin-bottom: 10px;
    margin-left: 10px;
}
button:hover{
    background-color: #a200ff;
    color: #f2f2f2;
}

/* O css abaixo é para a navbar */

#buscador{
    margin-left: auto;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between; /* Distribui os itens uniformemente */
    list-style-type: none;
}

#formBuscador{
    padding-top: 10px;
}
  
li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover:not(.active) {
    background-color: #111;
}
  
.active {
    background-color: #04AA6D;
}

#botaoPesquisa{
    background-image: url('../img/lupa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #5F0E8F; /* Cor de fundo do rodapé */
    color: #f2f2f2; /* Cor do texto do rodapé */
    text-align: center; /* Centraliza o texto do rodapé */
    padding: 10px 0; /* Adiciona um pouco de padding */
}